html {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
input{
    width: 300px;
}
.cas-container{
    width: 850px;
    height: 615px;
    text-align: left;
    display: none;
}
.cas-container .left-part{
    width: 15%;
    margin-right: 20px;
    position: relative;
}
.cas-container .right-part{
    width: 80%;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px;
    border: 1px solid #ccc;
    *position: relative;   
}
.cas-container .left-part,
.cas-container .right-part{
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    *display: inline;
    *zoom: 1;
}
.cas-container .left-part ul{
    overflow-y: scroll;
    height: 540px;
    margin-bottom: 50px;
    overflow-x: hidden;
    *position: relative;
}
.cas-container .left-part ul::-webkit-scrollbar,
.cas-container .right-part::-webkit-scrollbar{
    display: none;
}
.cas-container .left-part li,
.cas-container .right-part li{
    position: relative;
    background: #ccc;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}
.cas-container .left-part li{
    display: block;
    width: 100%;
    *width: 80%;
    height: 50px;
    line-height: 50px;
}
.cas-container .right-part li{
    display: inline-block;
    width: 23%;
    margin: 5px;
    height: 155px;
    line-height: 155px;
    *width: 22%;
    *display: inline;
    *zoom: 1;
}
.cas-container .right-part li:nth-child(4n-3){  
    margin-left: 10px;
}
.cas-container .left-part li span,
.cas-container .right-part li span{
    display: inline-block;
    line-height: 24px;
    height: auto;
    vertical-align: middle;
    cursor: default;
    *display: inline;
    *zoom: 1;
}
.cas-container .left-part li span{
    *height:50px;
    *line-height: 50px;
}
.cas-container .right-part li span{
    *height:150px;
    *line-height: 150px;
}
.cas-container .back-btn{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: -10px;
    text-align: center;
    background: #cac9c9;
}
.cas-container .back-btn span{
    display: inline-block;
    line-height: 24px;
    *line-height: 50px;
    height: auto;
    vertical-align: middle;
    cursor: default;
}
.cas-container .back-btn:hover{
    background: #037ac3;
    color: #fff;
}
.cas-container .btn-active{
    color: #fff;
    background: #037ac3 !important;
}

/* mini size */
.mini-container{
    width: 550px;
}
.mini-container .mini-lp{
    margin-right: 10px;
}
.mini-container .mini-lp ul{
    font-size: 16px;
}
.mini-container .mini-rp ul li{
    width: 22%;
    *width: 21%;
    height: 80px;
    line-height: 80px;
}
.mini-container .mini-rp ul li span{
    *height: 80px;
    *line-height: 80px;
}
.mini-container .mini-btn{
    font-size: 14px;
    *height: 50px;
    *line-height: 50px;
}
.mini-container .back-btn span{
    display: inline-block;
    height: auto;
    vertical-align: middle;
    cursor: default;
}